* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    /*color*/
    --emerald-Green :#0abda0;
    --light-brown : rgba(191, 157, 122, 0.5);
    --light-yellow : #ffffe6;
    --dark-brown : rgb(43, 29, 14, 1);
    --light-grey : #efefef;
    --white : #fff;
}
