
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    /*font*/
    --titilliumWeb: 'Titillium Web', sans-serif;;

    /*color*/
    --emerald-Green :#0abda0;
    --light-brown : #8a4f10;
    --middle-brown : rgb(165, 119, 74);
    --light-yellow : rgba(255, 255, 230, 0.7);
    --dark-brown : rgb(43, 29, 14, 1);
    --light-grey : #efefef;
    --light-blue : rgba(173, 216, 230, 0.5);
    --grey : rgba(211, 211, 211, 0.5);
}
